*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

.site {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

body{
    background-image: url(../img/fundo.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
}
.banner{
    background-image: url(../img/capa.png);
    width: 56.25rem;
    height: 24.25rem;
}
.header ul{
    background-image: url(../img/fundo.png);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5%;
    gap: 50px;
}
.header a{
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 43, 87);
    font-weight: 600;
}
.main h2{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 59, 37);
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}
.main{
    padding: 2%;
    background-color: rgba(255, 246, 246, 0.267);
}
.main P{
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    align-self: center;
    padding: 2%;
}
.footer p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 59, 37);
    font-weight: 800;
}